* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
  position: relative;
}

.progress-.container::before {
  content: "";
  width: 100%;
  height: 4px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ccc;
  left: 0;
  position: absolute;
  z-index: -1;
}

.progress {
  width: 50%;
  height: 4px;
  top: 50%;
  transform: translateY(-50%);
  background-color: dodgerblue;
  left: 0;
  position: absolute;
  transition: 0.4s ease;
}

.circle {
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 3px solid #ccc;
  z-index: 9090;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}

.circle.active {
  border-color: dodgerblue;
}

.btn {
  background-color: dodgerblue;
  color: #fff;
  padding: 8px 30px;
  margin: 5px;
  font-family: inherit;
  border-radius: 6px;
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.2);
  font-size: 14px;
  border: 0;
  cursor: pointer;
  font-weight: 700;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.95);
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
